@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    /*Modal*/
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
    }

    .modal__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, 0.4);
        z-index: 1;
    }

    .modal__body {
        width: 400px;
        height: 400px;
        background-color: white;
        margin: auto;
        z-index: 2;
    }

    .auth-form__container {
    }

    .auth-form__header {
        font-size: 20px;
    }

    .auth-form__heading {
        display: flex;
        justify-content: center;
    }

    .auth-form__form-group {
        display: flex;
        justify-content: center;
    }

    .auth-form__form-group input {
        width: 200px;
        height: 39px;
    }

    .auth-form__controls {
        display: flex;
        justify-content: center;
    }

    .auth-form__controls button {
        background-color:rgb(255, 66, 78);
        margin-top: 20px;
        padding: 10px 50px;
        color:white;
        border-radius:4px;
        border:none;
    }
    .auth-form__oneline{
        justify-content:center;
    }
    .auth-form__line {
        margin-left: 10px;
        font-size: 15px;
        font-weight: 700;
    }
    .auth-form__line h5{
        display:flex;
        justify-content:center;
    }
</style>
<html>
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <script language="Javascript">
        function 
    </script>
</head>
<body>
    <div class="modal">
        <div class="modal__overlay"></div>
        <div class="modal__body">
            <div class="modal__inner">
                <div class="auth-form">
                    <div class="auth-form__container">
                        <div class="auth-form__header">
                            <h3 class="auth-form__heading">ĐỊA CHỈ GIAO HÀNG</h3>
                        </div>
                        <div class="auth-form__form">
                            <div class="auth-form__form-group">
                                <input type="text" class="auth-form__input" placeholder="Nhập địa chỉ giao hàng" />
                            </div>
                        </div>
                    </div>
                    <div class="auth-form__controls">
                        <button class="btn">XÁC NHẬN</button>
                    </div>
                    <h5 class="auth-form__oneline">Hoặc</h5>
                    <div class="auth-form__line">
                        <h5><input type="radio" />Q. 1, P. Bến Nghé, Hồ Chí Minh</h5><br />
                        <h5><input type="radio" /> Chọn khu vực giao hàng khác</h5>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

